<h2>THE CRUD LIST</h2>
<table border=2>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Actions</th>
  </tr>
  {% for list in displist %}
  <tr>
    <td><a href="{% url 'CRUD:details' list.id %}">{{list.objectname}}</a></td>
    <td>{{list.price}}</td>
    <td><a href="{% url 'CRUD:edit' list.id  %}"><button>Update</button></a>
      <a href="{% url 'CRUD:delete' list.id  %}" onclick="return confirm('Are you sure you want to delete this?')" ><button>Delete</button></a></td>
  </tr>
  {% endfor %}
</table><br>
<a href="{% url 'CRUD:enter' %}"><button>Enter Data</button></a>
